* {
  margin: 0;
}

:root {
  --red: rgba(230, 4, 2, 1);
  --blue: rgba(2, 0, 172, 1);
  --yellow: rgba(253, 221, 5, 1);
  --black: rgba(4, 1, 2, 1);
  --white: rgb(255, 255, 255);
  --background-color: var(--white);

  --default-font-family: "Roboto", sans-serif;
  --heading-font-family: "Pixelify Sans", sans-serif;
  font-size: 16px;
}

/* General styles, */
h1 {
  font-weight: 300;
  line-height: 1.2em;
  margin: 0;
  font-family: var(--heading-font-family);
}

/* Header Styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 1.5rem 3rem;
  background-color: var(--red);
}

header svg {
  width: 100px;
}

/* Main Styles */

main {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
}

.main {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  background-color: var(--background);
  color: var(--black);
  font-family: var(--default-font-family);
  margin: 0 auto;
  align-self: center;
}

form {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  column-gap: 1rem;
  row-gap: 1.5rem;
  border: 3px solid black;
  margin-left: 3rem;
  padding: 2rem;
}

fieldset {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.input-set {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.input-set input {
  width: auto;
}

.col-1 {
  grid-column: span 1;
  display: flex;
  flex-direction: column;
}

.col-2 {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
}

label {
  color: var(--red);
  margin-bottom: 0.5rem;
  font-weight: 500;
}

input {
  color: var(--red);
  height: 2.5rem;
  border-radius: 0.5rem;
  border-width: 1px;
  width: 100%;
}

.mondrian-img {
  width: 100%;
}

select {
  height: 2.5rem;
  color: var(--red);
  border-radius: 0.5rem;
  border-width: 1px;
  flex-grow: 1;
}

#submit {
  color: var(--blue);
  background-color: var(--yellow);
  border: none;
  border-radius: 0.3rem;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  transition: all 0.2s ease-in;
  text-decoration: none;
}

.primary-btn:hover {
  color: var(--yellow);
  background-color: var(--white);
}

.sample-img {
  height: 80vh;
}

/* Footer Styles */

footer {
  display: flex;
  height: 4rem;
  justify-content: center;
  align-items: center;
  background-color: var(--yellow);
  font-family: var(--heading-font-family);
}